body{
    margin-top: -10px;
}
p{
    font-family: 'Epilogue', sans-serif;
    padding-top: 3%;
}
#barranav{
    height: 4em;
    top: -5em;
    color: white;
    margin-bottom: -5em;
}
h5{
    font-size: medium;
}
.abajo{
    background-color:#445;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0 !important;
    margin-bottom: 0 !important;
}
.logojabass{
    font-family: 'Ephesis', cursive;
    font-size: 3em;
    color: white;
    font-weight: bold;
    transition: 0.8s;
}
.logojabass1{
    font-family: 'Ephesis', cursive;
    font-size: 3em;
    color: black;
    font-weight: bold;
    padding-top: 15%;
}
.jabadark {
    background-color:#444; 
    color: #ffffff;
    width: 100%;
    top:0px;
    vertical-align: text-top;
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 6%;
    padding-bottom: 3%;
}
.jabalight {
    background-color: white;
    color: #504747;
    width: 100%;
    top:0px;
    vertical-align: text-top;
    padding: 3%;
}
.midcentrado{
    padding-top: 0;
    vertical-align: middle;
    line-height: normal;
    margin: 2%;
}
#html{
    font-size: 6em;
    color: #EC6937;
}
#javascript{
    font-size: 6em;
    color: #FFD633;
}
#bootstrap{
    font-size: 6em;
    color: #8551E2;
}
#css{
    font-size: 6em;
    color: #376EE3;
}
#sql{
    display: block;
    margin: auto;
    width: 6em;
    height: 6em;
}
#java{
    font-size: 6em;
    color: #6e0101;
}
#android{
    font-size: 8em;
}
.tarjetas {
    font-family: 'Poppins', sans-serif;
    border: none;
    text-align: center;
    background-color: #444; 
    color: #ffffff;
    padding-top: 3%;
}
.title{
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    padding-top: 2%;
}
.card-deck{
    margin: 5% 0;
}
h2{
    text-indent: 4em;
}
a{
    color: white;
}
a:link {
    color:inherit;
    text-decoration: inherit;
    text-decoration: underline;
    font-weight: bold;
 }
.wp:hover{
    color: #25D366;
}
.fb:hover{
    color: #3b5998;
}
.gmail:hover{
    color: #6A0101;
}
.lkdin:hover{
    color: #0073b1;
}
.lkdin p{
    font-weight:300 !important;
}
.fb p{
    font-weight:300 !important;
}
#contacto{
    margin-top: 0%;
    padding-top: 1%;
    margin-bottom: 0;
    height: 30%;
}
.fadeTop {
    opacity: 0; 
    transform: translate(0, 10vh);
    transition: all 1s;
}
.fadeLeft{
    opacity: 0; 
    transform: translate(-9vh,0);
    transition: all 1s;
}
.fadeRight{
    opacity: 0; 
    transform: translate(9vh, 0);
    transition: all 1s;
}
.visible {
    opacity: 1;
    transform: translate(0, 0);
}
nav{
    background-color: white;
    transition: 1.5s;
    position: fixed;
    text-decoration: none;
}
#fondo{
    height: 100vh;
    background-image: url('../img/Fondo1.png');
    background-size:cover;
    background-position-y: 45%;
    margin: 0;
    padding-left: 2%;
}
.proyectos{
    margin-top: 5%;
}
.imagen{
    height: 90%;
    width: 90%;
    margin-top: 5%;
}
#sobremi{
    padding-top: 3%;
}
.txtSobreMi{
    text-align: justify;
    font-size:large;
    padding-right: 10%;
    padding-left: 10%;
    line-height: 150%;;
}
.imgProyecto{
    border-radius: 2%;
    width:95%; 
    height: auto;
}


.ir-arriba {
	display:none;
    color: black;
	cursor:pointer;
	position: fixed;
    z-index: 5;
	bottom: 10%;
	right:2%;
}
